<div class="mt-2">
    <div class="row mt-5">
        <div class="col-sm-12">


            <div class="border mt-3">
                <div class="ml-3 mr-3 mb-3">
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <div class="card card-body border border-dark bg-muted">
                                <div class="d-flex justify-content-center">
                                    <p class="lead text-dark">
                                        This area can be used by the bank for their promotional message, other related information
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="mandateIssuedTo"> Mandate issued to </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="mandateIssuedTo" [(ngModel)]="mandate.mandateIssuedTo" class="form-control flex-fill" readonly />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="startDate"> Start Date </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="startDate" [(ngModel)]="mandate.startDate" class="form-control flex-fill" readonly />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="endDate"> End Date </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="endDate" [(ngModel)]="mandate.endDate" class="form-control flex-fill" readonly />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="frequency"> Frequency </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="frequency" [(ngModel)]="mandate.frequency" class="form-control flex-fill" readonly />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="amountInFigures"> Amount in figures </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" name="amountInFigures" [(ngModel)]="mandate.amountInFigures" class="form-control flex-fill" readonly />
                        </div>
                        <div class="col-sm-3">
                            <input type="number" class="form-control flex-fill" readonly />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="amountInWords"> Amount in words </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="amountInWords" [(ngModel)]="mandate.amountInWords" class="form-control flex-fill" readonly />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-start align-items-end">
                                <label calss="text-dark" for="purposeOfMandate"> Purpose of mandate </label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="purposeOfMandate" [(ngModel)]="mandate.purposeOfMandate" class="form-control flex-fill" readonly />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">

                            <div class="d-flex justify-content-center">
<img src="../../assets/greentick.jpg">
                                Your E-Mandate registration is successfully completed. Your reference ID for E-Mandate registration is <b><u> XXXX.</u></b>

                            </div>

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">

                            <div class="d-flex justify-content-center">

                                In case of any issues/ query related to E-mandate registration you may write to xxxxxx@xxxx.xx or call xxxxxxxxxxxxx

                            </div>

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>


</div>