<div class="container border">
        <div class="row mt-4">
                <div class="col-sm-12">
                    <div class="card card-body border border-dark bg-muted">
                        <div class="d-flex justify-content-center">
                            <p class="lead text-dark">
                                    This area can be used by the bank for their promotional message, other related information
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-4">
                    <div class="col-sm-12">
                        
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/cross.jpg">
                                <p class="lead text-dark">
                                        Your E-Mandate registration is rejected due to: reason for rejection
                                </p>
                            </div>
                        
                    </div>
                </div>
                <div class="row mt-4">
                        <div class="col-sm-12">
                            
                                <div class="d-flex justify-content-center">
                                    <p class="lead text-dark">
                                            For clarifications please write to xxxxxx@xxxx.xx or call xxxxxxxxxxx
                                    </p>
                                </div>
                            
                        </div>
                    </div>
</div>