<div class="mt-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex flex-column h-100">
                <div class="card flex-grow-1 flex-fill">
                    <div class="card-header text-light" style="background-color: rgb(46, 46, 45);">
                        Promotional content
                    </div>
                    <div class="card-body bg-white-50" style="background-color: rgb(247, 246, 242);">
                        <ul>
                            <li>Promotional statement 1</li>
                            <li>Promotional statement 2</li>
                            <li>Promotional statement 3</li>
                            <li>Promotional statement 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card border-0 card-body">

                        <p class="lead">
                            Welcome Mr/Ms/Mrs.
                            <b>Customer name</b>
                            <br> Please verify the details below to set up the mandate. In case of any discrepancy found you
                            may cancel the registration process.
                        </p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <label calss="text-dark" for="accountNumber"> Account Number </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="accountNumber"  [(ngModel)]="mandate.accountNumber" class="form-control flex-fill" readonly />
                </div>
            </div>
<div class="border mt-3">
    <div class="ml-3 mr-3 mb-3">
            <div class="row mt-4">
                <div class="col-sm-12">
                    <div class="card card-body border border-dark bg-muted">
                        <div class="d-flex justify-content-center">
                            <p class="lead text-dark">
                                Mandate Details
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="mandateIssuedTo"> Mandate issued to </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="mandateIssuedTo" [(ngModel)]="mandate.mandateIssuedTo" class="form-control flex-fill" readonly />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="startDate"> Start Date </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="startDate" [(ngModel)]="mandate.startDate" class="form-control flex-fill" readonly />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="endDate"> End Date </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="endDate" [(ngModel)]="mandate.endDate" class="form-control flex-fill" readonly />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="frequency"> Frequency </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="frequency" [(ngModel)]="mandate.frequency" class="form-control flex-fill" readonly />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="amountInFigures"> Amount in figures </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <input type="number" name="amountInFigures" [(ngModel)]="mandate.amountInFigures" class="form-control flex-fill" readonly />
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control flex-fill" readonly />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="amountInWords"> Amount in words </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="amountInWords" [(ngModel)]="mandate.amountInWords" class="form-control flex-fill" readonly />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-start align-items-end">
                        <label calss="text-dark" for="purposeOfMandate"> Purpose of mandate </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="purposeOfMandate" [(ngModel)]="mandate.purposeOfMandate" class="form-control flex-fill" readonly />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-12">
                    <div class="card card-body border boder-dark">
                        <div class="d-flex justify-content-start">
                            <p class="lead text-dark">
                                Disclaimer/ Terms and conditions (bank)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">

                <div class="col-sm-1">
                    <input type="checkbox" ng-required class=" flex-fill" name="readCheckbox" [(ngModel)]="readCheckbox" />

                </div>
                <div class="col-sm-11">
                    This is to confirm that the declaration has been carefully read, understood & made by me/us. I am authorising the user entirety/
                    corporate to debit my account, based on the instructions as agreed and authorised by me.

                </div>
            </div>
            <div class="row mt-3">

                <div class="col-sm-1">
                    <input type="checkbox" ng-required name="amendCheckbox" [(ngModel)]="amendCheckbox" class=" flex-fill" />

                </div>
                <div class="col-sm-11">
                    I have understood that I am authorised to cancel/amend this mandate by appropriately communicating the cancellation / amendment
                    request to the user entity/ corporate or the bank where I have authorised the debit.
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="d-flex align-items-center">
                        <input type="button" class="btn btn-primary d-block flex-fill" value="Generate OTP" />
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-end align-items-end">
                        <label calss="text-dark" for="phoneNumber"> Enter OTP </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-flex align-items-center">
                        <input type="number" class="form-control flex-fill" />
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#">
                            <u>Resend OTP</u>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="row mt-4">
                    <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <div class="d-flex">
                        <input type="submit" class="btn btn-primary d-block flex-fill" value="Approve mandate" (click)="approveMandate()"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="d-flex">
                        <input type="button" class="btn btn-primary d-block flex-fill" value="Reject Mandate" (click)="rejectMandate()"/>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        </div>
    </div></div>


</div>